body {
  background: #121312;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
  /* color: #fff; */
}

.container {
  background: #fff;
  padding: 1.2rem;
  width: 90vw;
  margin: 8rem auto;
  max-width: 35rem;
  border-radius: 0.5rem;
}

.form-control {
  display: flex;
  justify-content: center;
}

.text-input {
  padding: 0.25rem;
  font-size: 1.2rem;
  background: lightblue;
  flex: 1 0 auto;
}

.submit-btn {
  background: purple;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  border: transparent;
  font-size: 1.2rem;
}
